.country-detail {
  display: grid;
  grid-template-areas:
    'flag-image'
    'primary-info'
    'secondary-info'
    'borders-list';
  row-gap: 4rem;

  &__image-container {
    grid-area: flag-image;
    width: 100%;
    max-height: 28.5rem;
  }

  &__image {
    width: 100%;
    max-height: 100%;
    border-radius: 6px;
  }

  &__name {
    margin-bottom: 2rem;
  }

  &__description-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__primary-info {
    grid-area: primary-info;
  }

  &__other-info {
    grid-area: secondary-info;
  }

  &__borders {
    grid-area: borders-list;
  }

  &__border-label {
    margin-bottom: 1rem;
  }

  &__border-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  &__border-value {
    background-color: var(--bg-color-secondary);
    box-shadow: var(--box-shadow-component);
    border-radius: 2px;
    padding: 0.75rem 1.2rem;

    &--empty {
      font-style: italic;
    }
  }
}

.country-detail-skeleton {
  &__image {
    height: 22.9rem;
  }

  &__text--25 {
    width: 25%;
  }
  &__text--40 {
    width: 50%;
  }
  &__text--65 {
    width: 65%;
  }
  &__text--80 {
    width: 80%;
  }
}
