@import 'styles/variables';

.header {
  padding: 2.4rem 0;
  background-color: var(--bg-color-secondary);
  box-shadow: var(--box-shadow-header);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    cursor: pointer;
    font-size: 1.75rem;
    transition: all 0.2s;
    color: var(--text-color-primary);

    &:hover {
      color: var(--text-color-primary-hover);
    }

    @media only screen and (min-width: $bp-desktop) {
      font-size: revert;
    }
  }

  &__dark-mode-toggle {
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    gap: 0.7em;
    transition: all 0.2s;
    color: var(--text-color-primary);

    &:hover {
      color: var(--text-color-primary-hover);
    }
  }
}
