.country-list {
  color: var(--text-color-primary);
  position: relative;

  &__card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(20%, 25rem), 1fr));
    gap: 5rem;
    justify-items: center;
  }

  &__empty {
    &-section {
      margin-top: 13rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }

    &-image {
      width: max(60%, 31.5rem);
      height: auto;
    }

    &-message {
    }
  }

  &__loader {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
}
