// light mode (default)
:root {
  //Colors
  --bg-color-primary: #{$color-gray-lightest};
  --bg-color-secondary: #{$color-white};

  --text-color-primary: #{$color-blue-darkest};
  --text-color-primary-hover: #{rgba($color-blue-darkest, 0.7)};

  --box-shadow-header: #{0 2px 4px $color-black-fade-06};
  --box-shadow-component: #{0 2px 9px $color-black-fade-05};
  --box-shadow-component-hover: #{0 2px 9px $color-gray-dark-fade};

  --placeholder-color: #{$color-gray};

  --search-bar-icons-color: #{$color-gray-dark};
  --search-bar-icons-color-hover: #{rgba($color-gray-dark, 0.7)};

  --skeleton-loading-bg-color-start: #{$color-gray-light};
  --skeleton-loading-bg-color-end: #{$color-gray};

  //Typography
  --font-family: #{$font-primary};
  --font-size-sm: #{$font-size-sm};
  --font-size-base: #{$font-size-base};

  --font-weight-light: #{$font-weight-light};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-extrabold: #{$font-weight-extrabold};
}

// dark mode
[data-theme='dark'] {
  --bg-color-primary: #{$color-blue-darker};
  --bg-color-secondary: #{$color-blue-dark};

  --text-color-primary: #{$color-white};
  --text-color-primary-hover: #{rgba($color-white, 0.7)};

  --box-shadow-component-hover: #{0 2px 9px $color-gray-light-fade};

  --skeleton-loading-bg-color-start: #{$color-gray-dark};
  --skeleton-loading-bg-color-end: #{$color-gray};
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  background-color: var(--bg-color-primary);
  box-sizing: border-box;
  font-size: 50%; //1rem = 8px (8px/16px = 50%) - mobile

  @media only screen and (min-width: $bp-desktop) {
    font-size: 62.5%; //1rem = 10px (10px/16px =62.5%)
  }
}

body,
input,
textarea {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-light);
}

body {
  color: var(--text-color-primary);
}
