// light mode (default)
:root {
  //Colors
  --bg-color-primary: #{$color-gray-light};
  --bg-color-secondary: #{$color-white};

  --text-color-primary: #{$color-blue-darkest};
  --text-color-primary-hover: #{rgba($color-blue-darkest, 0.7)};
  --text-color-secondary: #{$color-gray-dark};

  --box-shadow-header: #{0 2px 4px $color-black-fade-06};
  --box-shadow-component: #{0 2px 9px $color-black-fade-05};

  --placeholder-color: #{$color-gray};

  //Typography
  --font-family: #{$font-primary};
  --font-size-sm: #{$font-size-sm};
  --font-size-base: #{$font-size-base};

  --font-weight-light: #{$font-weight-light};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-extrabold: #{$font-weight-extrabold};
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%; //1rem = 8px (8px/16px = 50%) - mobile
}

body,
input,
textarea {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-light);
}
