.container {
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;
}

.description {
  &-item {
    overflow: hidden;

    &--ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }

  &-label {
    font-weight: var(--font-weight-semibold);
    position: relative;

    &:after {
      content: ': ';
      position: absolute;
      top: 0;
      right: -0.5rem;
    }
  }

  &-value {
    margin-left: 0.8rem;

    &--empty {
      font-style: italic;
    }
  }
}
