/*=============================================
=            Colors                           =
=============================================*/

$color-blue-dark: hsl(209, 23%, 22%); //Dark Blue (Dark Mode Elements)
$color-blue-darker: hsl(207, 26%, 17%); //Very Dark Blue (Dark Mode Background)
$color-blue-darkest: hsl(200, 15%, 8%); //Very Dark Blue (Light Mode Text)
$color-gray-dark: hsl(0, 0%, 52%); //Dark Gray (Light Mode Input)
$color-gray: hsla(0, 0%, 77%);
$color-gray-light: hsl(0, 0%, 85%);
$color-gray-lighter: hsl(0, 0%, 94%);
$color-gray-lightest: hsl(0, 0%, 98%); //Very Light Gray (Light Mode Background)
$color-white: hsl(0, 0%, 100%); //White (Dark Mode Text & Light Mode Elements)
$color-black-fade-06: hsla(0, 0%, 0%, 0.06);
$color-black-fade-05: hsla(0, 0%, 0%, 0.05);
$color-black: hsl(0, 0%, 0%);

/*=============================================
=                 Typography                  =
=============================================*/

$font-primary: 'Nunito Sans', sans-serif;
$font-size-sm: 1.4rem;
$font-size-base: 1.6rem;

$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;

/*=============================================
=                 Breakpoints                 =
=============================================*/

$bp-desktop: 90em; // 1440px / 16 = 90em
$bp-mobile: 23.4375em; // 375px / 16 = 23.4375em
