.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &__image {
    width: max(35%, 34rem);
    height: auto;
  }

  &__message {
    text-align: center;
  }

  &__detail {
    margin-top: 2rem;
  }
}
