.home-page {
  padding: 5rem 0;

  &__top-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5rem;
  }

  &__search-bar {
    flex: 1;
    min-width: 30rem;
    max-width: 48rem;
    transition: all 0.2s;

    &:hover {
      box-shadow: var(--box-shadow-component-hover);
    }
  }

  &__filter-dropdown {
    flex: 1;
    min-width: max-content;
    max-width: 25rem;
    min-width: 17rem;
    transition: all 0.2s;

    &:hover {
      box-shadow: var(--box-shadow-component-hover);
    }
  }

  &__country-list {
    margin-top: 4rem;
  }
}
