.country-card {
  min-width: 25rem;
  max-width: 26.4rem;
  width: 100%;
  height: 33.6rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-component);
  background-color: var(--bg-color-secondary);

  &__image {
    height: 20rem;
  }

  &__details {
    padding: 3rem;
  }
}

.country-card-skeleton {
}
